body{
	margin:0;
}
nav ul li{
	display:inline;
	min-width: 100%;
	max-height: 100px;
}
a:hover{
	color: blueviolet;
}
#nav1{
	max-height: 75px;
	width: 100%;
}
#header1{
	min-width:100%;
	background-color:gray;
	min-height:50px;
	max-height: 140px;
}