*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
html{
	background: #1f2b3a;	
	scroll-behavior: smooth;
}
body {
	font-family: Arial, Helvetica, sans-serif; 
    background-color: #f1f1f1;
    background-color: #243346; 
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 200px;
	min-height: 100vh;
}

/* NavBar */
nav{
	background: #1f2b3a;
	height: 60px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	border-bottom: 1px solid #45A29E;
}
.logo{
	height: 50px;
	width: 50px;
	margin: 5px 10px;
}
.navbar li a{
	font-family: Arial, Helvetica, sans-serif; 
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 60px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 20px;
	text-transform: uppercase;
}
nav #linav.activenav, #linav:hover{
	background: #45A29E;
	transition: 0.5s;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
	z-index: 10;
}
.checkbtn.active{
	margin-top: 0;
	z-index: 10;
	position: absolute;
}
#check{
	display: none;
}
/* End of NavBar */


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.editUsersForm,
.addUserModal 
{
	background-color: #1f2b3a;
	margin: 4% auto;
	padding: 20px;
	border: 1px solid #5cc7c3;
	width: 80%;
	border-radius: 20px;
}
.editUsersForm,
.addUsersForm {
    margin: 5% auto;
	border-radius: 20px;
	color:white;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}
.category-prod{
	width: 80px;
}

  /* The Close Button */
.close  {
	color: #45A29E;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #aaaaaa;
	text-decoration: none;
	cursor: pointer;
}

.closeEdit  {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.closeEdit:hover,
.closeEdit:focus {
	color: #45A29E;
	text-decoration: none;
	cursor: pointer;
}

/* End of Add form */

/* Alerts */
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	display: none;
  }
  
  .alert.success {background-color: #4CAF50;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}
  
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }

/* End of Alerts */

/* Table */

#usersTable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 85%;
	overflow:hidden;
	margin: 5% auto;
	border: 1px solid #45A29E;

  }
  
  #usersTable td, #usersTable th {
	color:white;
	text-align: center;
	padding: 8px;
  }
  
  #usersTable tr:nth-child(even){background-color:#35475e;}
  
  #usersTable tr:hover {background-color: #3e597c;}
  
  #usersTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #1f2b3a;
	color: white;
  }

.button {
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
  }
.table-container  .button1 {background-color: #4CAF50;} /* Green */
.table-container  .button2 {background-color: #f44336;} /* Red */ 
.table-container  .button1:hover {background-color: #2f7e32;transition: all .5s ease;} /* Green Hover */
.table-container  .button2:hover {background-color: #b12a21;transition: all .5s ease;} /* Red Hover*/ 

.product-btns  .button1 {background-color: #4CAF50;} /* Green */
.product-btns  .button2 {background-color: #f44336;} /* Red */ 
.product-btns  .button1:hover {background-color: #2f7e32;} /* Green Hover */
.product-btns  .button2:hover {background-color: #b12a21;} /* Red Hover*/ 
.news-button:hover{background-color: #b12a21;}
.button3 {
	border: none;
	background-color: #4CAF50; /* Green */
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
	background-color: #4CAF50;
	transition: all .5s ease;
}

.button3:hover{background-color: #2f7e32;transition: all .5s ease;}

/* End of Table */

/* About us cards  */
.news{
	margin: 0;
	display:flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.container{
	margin:1px auto;
    width: 1200px;
	height: 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
	
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #45A29E;
	color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    
	background: #35475e;
    transform: translateY(0);
	border: 1px solid #45A29E;
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: white;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
/* About us Cards */

/* Image Slider*/
.slider{
	position: relative;
	width: 98%;
	margin-left: 1%;
	margin-top: 1%;
}
.myslider{
	height: auto;
	display: none;
	overflow: hidden;
}
.prev, .next{
	position: absolute;
	top:50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #45A29E;
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
.active, .dot:hover{
	border-color: #45A29E;
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 10%;
	left: 10%;
	-webkit-animation-name: posi;
	-webkit-animation-duration: 1s;
	animation-name: posi;
	animation-duration: 2s;
	z-index: 1;
}
.txt h1{
	color: #45A29E;
	font-weight: bold;
}
.slider img{
	transform: scale(1, 1);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 40s;
	animation-name: zoomin;
	animation-duration: 40s;
}
/* End of Image Slider*/

/* About Us */
.about-section{
    background:no-repeat left;
    background-size: 60%;
    background-color:transparent;
    overflow: hidden;
	border-bottom: 1px solid #45A29E;
}
.inner-container{
    width: 100%;
    float: right;
    color: #45A29E;
    background-color: #1f2b3a;
    padding: 150px;
    border: 1px solid #45A29E;

}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 20px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.hamster-provides{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}
.hamster-provides span{
	color: #45a29e;
}
/* End of About Us */

/* Contact Form */
.contact-container input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
	background-color:  #45A29E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
	cursor: pointer;
	outline: none;
} 
input[type=submit]:hover{
    background-color:#45A29E;
} 
.contact-container{
    border-radius: 5px;
    background-color: #1f2b3a;
    padding: 20px;
    margin: 5% 5%;
	border: 1px solid #45A29E;
	color: white;
}
/* End of Contact Form */

/* Manage Contacts */
.contacts{
	background: transparent;
    padding: 20px 0;
	word-wrap: break-word;
}
.contact{
	word-wrap: break-word;
}
.contacts-container{
    width: 90%;
    margin: 0 auto;
}
.contact-div{
	margin: 32px;
    position: relative;
}
.contact-info{
    background: #45A29E;
    padding: 32px;
    text-align: center;
	border-radius: 10px;
	color: white;
	font-family: consolas;
}
.contact-info b{
	color: #1f2b3a;
}
.contacts p:nth-child(1) {
	float: left;
}
.contacts p:nth-child(3) {
	float: left;
}
.contacts p:nth-child(5) {
	float: left;
}
.contacts p:nth-child(9) {
	font-size: 17.5px;
	text-align: left;
}
.contacts h2{
	text-align: left;
	color: #1f2b3a;
}

/* End of Manage Contacts */


/* Log In/Sign Up Form Box */
.hero{
	margin: 0;
	padding: 0;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),;
	font-family: sans-serif;
}
.form-box {
    width: 380px;
    height: 435px;
    position: relative;
    margin: 10% auto;
    background: #1f2b3a;
    padding: 5px;
    overflow: hidden;
	border-radius: 20px;
	border: 1px solid #5cc7c3;
    padding-bottom: 10px;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	width: 100px;
	background: transparent;
	outline: none;
	position: relative;
	color: white;
	border: 1px solid #45A29E;
	border-radius: 30px;
}
#register-btn.toggle-btn{
	padding: 10px;
	cursor: pointer;
	width: 100px;
	background: transparent;
	outline: none;
	position: relative;
	color: white;
	border: 1px solid #45A29E;
	border-radius: 30px;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 100px;
	height: 100%;
	background: linear-gradient(to right,  #45A29E, #5cc7c3);
	border-radius: 30px;
	transition: .5s;
}
.social-icons{
	margin:30px auto;
	text-align: center;
}
.social-icons img{
	width: 30px;
	margin: 0 12px;
	cursor: pointer;
	border-radius: 30px;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid white;
	outline: none;
	background: transparent;
	color: white;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px;
    background: linear-gradient(to right, #45A29E, #5cc7c3);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}
/* End of Log In/Sign Up Form Box */

/* Utility Stylings */
img{
    width: 100%;
}
.products-container{
    width: 80%;
    margin: 0 auto;
}
.lg-title{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 21px 0;
	opacity: 0.9;
	color: #45A29E;
}
.lg-title{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 21px 0;
    opacity: 0.9;
}
.text-light{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.7;
    margin: 6px 0;
}
/* End of Utility Stylings */

/* Redirect Page */
.redirect .lg-title{
    font-size: 60px;
	margin-top: 8%;
    font-weight: 500;
    text-align: center;
    padding: 21px 0;
}
.redirect .text-light{
    text-align: center;
	font-size: 25px;
    width: 70%;
	margin: 40px auto;
	color: white;
}
/* End or Redirect Page */

/* Product Section */
.products{
    background: transparent;
    padding: 20px 0;
}
.products .text-light{
    text-align: center;
    width: 70%;
	margin: 15px auto;
	color: white;
}
.product{
    margin: 32px;
    position: relative;
}
.product-content{
    background:  white;
    padding: 48px 8px 32px 8px;
    cursor: pointer;
    border: 2px solid #45a29e;
}
.product-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    opacity: 1;
    transition: opacity 0.6s ease;
}
.btn-buy{
    background: transparent;    
    border: 1px solid black;
    padding: 13px 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
    outline: none;
    border-radius: 30px;
}
.btn-buy:hover{
    background: #1f2b3a;
    color: #fff;
}
.btn-buy{
    background: #45a29e;
    color:#fff;
}
.product-info{
    background: #45A29E;
    padding: 32px;
    text-align: center;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 1000;
}
.product-price{
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
    font-weight: 600;
    color: #1f2b3a;
}
.product-price:first-of-type{
    text-decoration:line-through;
    color: white;
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.addedBy{
	font-family: consolas;
	font-weight: bold;
	color: #2b4b70;
}
/* End of Product Section */

/* Product Collection */
.product-collection{
    padding: 51px 0;
}
.product-collection-wrapper{
    padding: 51px 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    padding: 32px 24px 52px;
    margin: 5px;
}
.product-collection .text-light{
    opacity: 0.7;
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.7;
}
/* End of Product Collection */

/* Footer */
.footer{
	height: 200px;
	position: absolute;
  	bottom: 0;
  	width: 100%;
	display: flex;
	justify-content: space-between;
	background:#1f2b3a;	
	box-sizing: border-box;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	padding: 20px 20px;
	border-top: #45A29E 1px solid;
	
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display :inline-block ;
	vertical-align: top;
}
.footer-logo{
	margin: 0;
	height: 50px;
	width: 50px;

}
.footer .footer-links {
	color:#f58634;
	margin:20px 0 12px;
	padding: 0;	
}
.footer .footer-links a{
	display: inline-block;
	line-height:1.8;
	font-weight: 400;
	text-decoration: none;
	color: white;
	margin-right: 8px;
}
.footer .footer-company{
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;

}
.footer-logos{
	width: 20px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer .footer-center p{
	display: inline;
	color: white;
	font-weight: normal;
	vertical-align: middle;
	margin: 0;
}
.footer .footer-links a:before{
	content:"|";
	font-weight: normal;
	font-size: 20px;
	color:  #45A29E;
	display: inline-block;
	padding: 5px;
	left: 0;
}
.footer .footer-company-about{
	line-height: 20px;
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer .footer-company-about span{
	display: block;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer .footer-social{
	margin-top :25px;
}
.socials-logo{
	display: inline;
	width: 50px;
}
/* End of Footer */

/* News */
.center
{
  height:20px;
  width:100%;
  display: inline;
}
.property-card
{
    margin: 10% auto;
    height:20em;
    width:310px;
	border-radius: 10px;
    display:flex;
    position:relative;
    overflow:hidden;

}
.property-image
{
  width:310px;
  padding:0;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;
}
.property-description
{
  background-color: #45A29E transparent;
  height:12em;
  width:310px;
  position:absolute;
  bottom:0em;
  text-align:center;
  background-color: #45A29E;
}
.endnews{
	background-color: rgb(0 0 0 / 80%);
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 3px;
    color: #aaaaaa;
}
.news1 {
	margin-top:5px;
	height:10em;
  	width:310px;
  	overflow-y: scroll;
	text-align:center;
	color:#ffffff;
	
}
.news-title{

	font-family:Verdana, Geneva, Tahoma, sans-serif;
	
}
::-webkit-scrollbar {
	width: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb:hover {
	background: grey; 
	border-radius: 15px;
  }
  
  /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
	background: grey;; 
  }
.textarea{
	width: 500px;
	height: 100px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	word-wrap: break-word;
	box-sizing: border-box;
}
.title-news{
	width: 500px;
}
.news-button {
	border: none;
	color: white;
	padding: 3px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 2px 1px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
	background-color: #f44336;
}

.news-button:hover{
	background-color: #b12a21;
	transition: all .5s ease;
}  
/* End Of News */