.divHeader{
	background-color:white;
}
body{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	background-color: #f58634;
	
}
li, a, .contact-btn {
	font-family:  Century Gothic;
	font-weight: 500;
	font-size: 16px;
	color: #f58634;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px, 10%;
	max-height: 60px;
	margin: 0;

}
.logo{
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin-right: auto;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.logo:hover {
	background: url(images/bardh.png) no-repeat;
}
.nav_links{
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}
.nav_links li a {
	transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
	background-color: #f58634;
	color: white;
	border: #f58634 1px solid;
	border-radius: 50px;
	padding: 9px 25px;
}
.contact-btn {
	padding: 9px 25px;
	background-color: #f58634;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin: 20px;
	color: white;
	margin-right: 55px;
	outline: none;
}
.contact-btn:hover{
	background-color: white;
	color:  #f58634;
	border: #f58634 1px solid;
}
.searchbar {
	margin: auto;
	width: 100%;
	max-width: 350px;
	float: left;
	background-color: #f58634;
	border: none;
	height: 30px;
	outline: none;
	color: white;
	background: linear-gradient(#f58634, #f58634);
	opacity: 0.8;
	border-radius: 15px;
	padding-left: 15px;
}
::placeholder{
	color: white;
}








section{
	width: 100%;
	background: #f58634;
	display: inline-block;
	height: 100vh;
	text-align: center;
	font-size: 36px;
	color: white;
	font-weight:700 ;
	margin: 0;
}
.footer{
	margin: 0;
	display: flex;
	justify-content: space-between;
	background: white;	
	width:auto;
	box-sizing: border-box;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	padding: 20px 20px;
	
	
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display :inline-block ;
	vertical-align: top;
}
.footer-logo{
	margin: 0;
	height: 50px;
	width: 50px;

}

.footer .footer-links {
	color:#f58634;
	margin:20px 0 12px;
	padding: 0;	
}
.footer .footer-links a{
	display: inline-block;
	line-height:1.8;
	font-weight: 400;
	text-decoration: none;
	color:#f58634;
	margin-right: 8px;
}
.footer .footer-company{
	color: black;
	font-size: 14px;
	font-weight: normal;
	margin: 0;

}

.footer-logos{
	width: 20px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer .footer-center p{
	display: inline;
	color: black;
	font-weight: normal;
	vertical-align: middle;
	margin: 0;
}
.footer .footer-links a:before{
	content:"|";
	font-weight: normal;
	font-size: 20px;
	color: #f58634;
	display: inline-block;
	padding: 5px;
	left: 0;
}

.footer .footer-company-about{
	line-height: 20px;
	color: #f58634;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer .footer-company-about span{
	display: block;
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer .footer-social{
	margin-top :25px;
}
.socials-logo{
	display: inline;
	width: 50px;

}