/* Navigation bar */
.divHeader{
	background-color:#1f2b3a;
}
body{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	background-color: white;
}
li, a, .contact-btn {	
	font-family:  Century Gothic;
	font-weight: 500;
	font-size: 16px;
	color: white;
	text-decoration: none;
}
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px, 10%;
	max-height: 60px;
	border-bottom: #45A29E 1px solid;

}
.logo{
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin-right: auto;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.logo:a{
	margin: 0;
	padding: 0;
}
.logo:hover {
	background: url("images/hover.png") no-repeat;
}
.nav_links{
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}
.nav_links li a {
	transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
	background-color: white;
	color:  #45A29E;
	border: #45A29E 1px solid;
	border-radius: 50px;
	padding: 9px 25px;
}
.contact-btn {
	padding: 9px 25px;
	background-color: #45A29E;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin: 20px;
	color: white;
	margin-right: 55px;
	outline: none;
}
.contact-btn:hover{
	background-color: white;
	color:  #45A29E;
}
/* Searchbar */
.searchbar {
	margin: auto;
	width: 100%;
	max-width: 350px;
	float: left;
	background-color:  #45A29E;
	border: none;
	height: 30px;
	outline: none;
	color: black;
	background: linear-gradient( white, white);
	opacity: 0.8;
	border-radius: 15px;
	padding-left: 15px;
}
.searchbar::placeholder{
	color: black;
}
/* slideshow */
.slideshow{
	max-height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
	background: #1f2b3a;

}
.img-slider{
	position: relative;
	width: 100%;
	height: 500px;
	margin: 10px;
	margin-bottom: 400px;
	margin-top: 15px;
}
.img-slider .slide{
	z-index: 1;
	position: absolute;
	width: 100%;
	clip-path: circle(0% at 0 50%);

}
.img-slider .slide.active{
	clip-path: circle(150% at 0 50%);
	transition: 2s;
	transition-property: clip-path;
}
.img-slider .slide img{
	z-index: 1;
	width: 100%;
	border-radius: 5px;
}
.img-slider .slide .info{
	position: absolute;
	top: 0;
	padding: 15px 30px;
}
.img-slider .slide .info h2{
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	font-family: Century Gothic;
}

.img-slider .navigation{
	z-index: 2;
	position: absolute;
	display: flex;
	bottom: -300px;
	left: 50%;
	transform: translateX(-50%);
}
.img-slider .navigation .btn{
	background: #1f2b3a;
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}
.img-slider .navigation .btn.active{
	background: #45A29E;
	box-shadow: 0 0 2px #45A29E;
}

@media (max-width: 820px) {
	.img-slider{
		width: 600px;
		height: 375px;
	}
	.img-slider .slide .info{
		padding: 10px 25px;
	}
	.img-slider .slide .info h2{
		font-size: 35px;
	}
	.img-slider .slide .info p{
		width: 70%;
		font-size: 15px;
	}
	.img-slider .navigation{
		bottom: -180px;
	}
	.img-slider .navigation .btn{
		width: 10px;
		height: 10px;
		margin: 8px;
	}
}

@media (max-width: 620px) {
	.img-slider{
		width: 400px;
		height: 250px;
	}
	.img-slider .slide .info{
		padding: 10px 20px;
	}
	.img-slider .slide .info h2{
		font-size: 30px;
	}
	.img-slider .slide .info p{
		width: 80%;
		font-size: 13px;
	}
	.img-slider .navigation{
		bottom: -140px;
	}
	.img-slider .navigation .btn{
		width: 8px;
		height: 8px;
		margin: 6px;
	}
}

@media (max-width: 420px) {
	.img-slider{
		width: 320px;
		height: 200px;
	}
	.img-slider .slide .info{
		padding: 5px 10px;
	}
	.img-slider .slide .info h2{
		font-size: 25px;
	}
	.img-slider .slide .info p{
		width: 90%;
		font-size: 11px;
	}
	.img-slider .navigation{
		bottom: -120px;
	}
}


/* footer */
.footer{
	margin-top: 100px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	background:#1f2b3a;	
	width:auto;
	box-sizing: border-box;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	padding: 20px 20px;
	border-top: #45A29E 1px solid;
	
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display :inline-block ;
	vertical-align: top;
}
.footer-logo{
	margin: 0;
	height: 50px;
	width: 50px;

}
.footer .footer-links {
	color:#f58634;
	margin:20px 0 12px;
	padding: 0;	
}
.footer .footer-links a{
	display: inline-block;
	line-height:1.8;
	font-weight: 400;
	text-decoration: none;
	color: white;
	margin-right: 8px;
}
.footer .footer-company{
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;

}
.footer-logos{
	width: 20px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer .footer-center p{
	display: inline;
	color: white;
	font-weight: normal;
	vertical-align: middle;
	margin: 0;
}
.footer .footer-links a:before{
	content:"|";
	font-weight: normal;
	font-size: 20px;
	color:  #45A29E;
	display: inline-block;
	padding: 5px;
	left: 0;
}

.footer .footer-company-about{
	line-height: 20px;
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer .footer-company-about span{
	display: block;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer .footer-social{
	margin-top :25px;
}
.socials-logo{
	display: inline;
	width: 50px;
}