@import url('https://fonts.googleapis.com/css?family=Monsterrat:500');
.divHeader{
	background-color:white;
}
body{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	background-color: #f58634;
}

li, a, button {
	font-family:  Helvetica;
	font-weight: 500;
	font-size: 16px;
	color: #f58634;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px, 10%;
	max-height: 60px;

}
.logo{
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin-right: auto;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url("Untitled-1logo2.png") no-repeat;
}

.logo:hover {
	background: url("hover.png") no-repeat;
}

.nav_links{
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	background-color: #f58634;
	color: white;
	border: #f58634 1px solid;
	border-radius: 50px;
	padding: 9px 25px;
}
button {
	padding: 9px 25px;
	background-color: #f58634;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin: 20px;
	color: white;
}

button:hover{
	background-color: white;
	color:  #f58634;
	border: #f58634 1px solid;
}