*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
html{

	background: #1f2b3a;
}
body {
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #f1f1f1;
	background-image: url("images/loginbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 200px;
	min-height: 100vh;
}
/* NavBar */
nav{
	background: transparent;
	height: 60px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
}
.logo{
	height: 55px;
	width: 55px;
	margin: 5px 10px;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 60px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 20px;
	text-transform: uppercase;
}
nav #linav.active, #linav:hover{
	background: #45A29E;
	transition: 0.5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
	z-index: 10;
}
.checkbtn.active{
	margin-top: 0;
	z-index: 10;
	position: absolute;
}
#check{
	display: none;
}
@media(max-width: 952px){
	nav ul li a{
		font-size: 16px;
	}
}
@media(max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 722px;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	nav #linav.active, #linav:hover{
		background: none;
		color: #0082e6;
	}
	#check:checked ~ ul{
		position: fixed;
		left: 0;
		top: 60px;
		position: absolute;
		width: 100%;
		z-index: +9;
	}
}
/* Log In */
.hero{
	margin: 0;
	padding: 0;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),;
	font-family: sans-serif;
}
.form-box {
    width: 380px;
    height: 435px;
    position: relative;
    margin: 10% auto;
    background: #1f2b3a;
    padding: 5px;
    overflow: hidden;
	border-radius: 20px;
	border: 1px solid #5cc7c3;
    padding-bottom: 10px;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	width: 100px;
	background: transparent;
	outline: none;
	position: relative;
	color: white;
	border: 1px solid #45A29E;
	border-radius: 30px;
}
#register-btn.toggle-btn{
	padding: 10px;
	cursor: pointer;
	width: 100px;
	background: transparent;
	outline: none;
	position: relative;
	color: white;
	border: 1px solid #45A29E;
	border-radius: 30px;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 100px;
	height: 100%;
	background: linear-gradient(to right,  #45A29E, #5cc7c3);
	border-radius: 30px;
	transition: .5s;
}
.social-icons{
	margin:30px auto;
	text-align: center;
}
.social-icons img{
	width: 30px;
	margin: 0 12px;
	cursor: pointer;
	border-radius: 30px;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid white;
	outline: none;
	background: transparent;
	color: white;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px;
    background: linear-gradient(to right, #45A29E, #5cc7c3);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}
/* footer */
.footer{
	height: 200px;
	position: absolute;
  	bottom: 0;
  	width: 100%;
	display: flex;
	justify-content: space-between;
	background:#1f2b3a;	
	box-sizing: border-box;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	padding: 20px 20px;
	border-top: #45A29E 1px solid;
	
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display :inline-block ;
	vertical-align: top;
}
.footer-logo{
	margin: 0;
	height: 50px;
	width: 50px;

}
.footer .footer-links {
	color:#f58634;
	margin:20px 0 12px;
	padding: 0;	
}
.footer .footer-links a{
	display: inline-block;
	line-height:1.8;
	font-weight: 400;
	text-decoration: none;
	color: white;
	margin-right: 8px;
}
.footer .footer-company{
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;

}
.footer-logos{
	width: 20px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer .footer-center p{
	display: inline;
	color: white;
	font-weight: normal;
	vertical-align: middle;
	margin: 0;
}
.footer .footer-links a:before{
	content:"|";
	font-weight: normal;
	font-size: 20px;
	color:  #45A29E;
	display: inline-block;
	padding: 5px;
	left: 0;
}

.footer .footer-company-about{
	line-height: 20px;
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer .footer-company-about span{
	display: block;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer .footer-social{
	margin-top :25px;
}
.socials-logo{
	display: inline;
	width: 50px;
}